html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 16px;
}

body {
  background: #0e1631;
  color: #fff;
  padding: 25px;
  font-family: "Montserrat", sans-serif;
  }


/* Title Section */

main {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 20vh;
}

header {
  z-index: 10;
}

header .button {
  z-index: 12;
  float: left;
}

header .button2 {
  margin-left: 1vw;
}
  
h1 {
  font-weight: bolder;
  font-weight: 800;
  font-size: 5em;
  line-height: 5rem;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  z-index: 10;
}

#name {
  font-size: 8rem;
  color: whitesmoke;
  margin-left: 1.25vw;
}
  
h1:hover {
animation: skew .5s 1 forwards;
}
@keyframes skew {
  from {
    font-style: normal;
  }

  to {
    font-style: italic;
  }
}

.blurb {
  animation: textShine 5s ease-in-out infinite alternate;
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  z-index: 10;
  position: relative;
  margin-top: 1rem;
  line-height: 1.5rem;
}


#creative {
  animation: textShine 5s ease-in-out infinite alternate;
  font-family: ;
  font-size: 1em;
  font-weight: 900;
  margin: 0;
  padding: 0;
  z-index: 10;
  position: relative;
  color: whitesmoke;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}


/* Icons */

.skills {
  position: relative;
  z-index: 12;
  align-content: flex-start;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 1vw 2vw 2vw 2vw;
}

.skill-icons {
  display: inline;
}

.skills p {
  text-align: center;
  font-size: 1.15rem;
  font-weight: 900;
}

.icon {
  padding: 1rem;
  transition-duration: .5s;
  z-index: 50;
}

.icon:hover {
  transform: scale(1.25);
}

/* Cards */

.cards {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
  position: relative;
  bottom: -25vh;
}

.card { 
  position: relative;
  display: grid;
  width: 20vw;
  height: auto;
  z-index: 20;
  align-content: flex-start;
  background: rgba(255, 255, 255, 0.10);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 1vw 2vw 2vw 2vw;
}

.card:hover {
  animation: slideUp 1s ease-in-out 1;
  animation-fill-mode: forwards;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: .5rem;
}

.cardSub {
  font-size: 1.15rem;
  margin-bottom: 1.5rem;
  opacity: .75;
}

.cardDetail {
  line-height: 1.5rem;
}

.button {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(9.7px);
  border-radius: 16px;
  width: 5vw;
  padding: .25vw .5vw;
  text-align: center;
  align-items: right;
  margin-top: 2vh;
  margin-left: auto;
  transition-duration: .5s;
}

.button:hover {
  background: rgba(255, 255, 255, 0.50);
  transform: scale(1.25);
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-15vh);
  }
}

/* Footer */


/* Blob Effects*/
#blob {
  background: linear-gradient(to right, rgb(44, 79, 155), rgb(94, 133, 110));
  height: 500px;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  right: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  animation: rotate 20s infinite;
  z-index: 1;
}

#blur {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(200px);
}

@keyframes rotate {
  from {
      rotate: 0deg;
  }

  50% {
      scale: 1 1.5;
  }

  to {
      rotate: 360deg;
  }
}



/* Mobile */

@media only screen and (max-width: 800px) {
  html {
    overflow: visible;
  }

  body {
    margin-top: 15vh;
  }

  #blur, #blob {
    display: none;
  }

  main {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    
  }

  h1 {
    display: block;
    position: relative;
  }

  header .button {

  }

  .skills {
    display: block;
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;    
  }

  .icon {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .cards {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    position: relative;
    bottom: 0vh;
  }
  

  .card {
    display: block;
    width: 80vw;
    margin-bottom: 5vh;
    z-index: 0;
  }

  .card:hover {
    animation: none;
    animation-fill-mode: none;
  }

  .button {
    width: 20vw;
  }

  footer {
    text-align: center;
  }
}